---
import Layout from "../layouts/Layout.astro";

const pClasses = "mb-4 text-accent-50";
---

<Layout title="Josh Waller | About">
  <main class="container mx-auto px-4 py-8">
    <h1 class="text-accent-200 text-h1 mb-8">About</h1>
    <p class={pClasses}>
      I'm Josh Waller, a full stack engineer with over a decade of experience in
      web development and a passion for building impactful digital solutions.
      Throughout my career, I've worked on everything from front-end web
      development to backend API integration and serverless architecture.
    </p>
    <p class={pClasses}>
      My expertise spans across a wide range of technologies, including Next.js,
      React, PHP, Ruby, and JavaScript, with a strong focus on creating
      user-friendly, responsive, and scalable applications.
    </p>
    <p class={pClasses}>
      Currently, I'm the Co-owner and CTO of BuddhaBeard, where I help small
      businesses establish a strong online presence through personalized
      websites, applications, and AI-driven solutions.
    </p>
    <p class={pClasses}>
      My background includes leading development teams, mentoring junior
      developers, and collaborating with designers and project managers to
      deliver high-quality software that meets business goals.
    </p>
    <p class={pClasses}>
      I thrive in fast-paced environments, whether it's building flagship
      applications that capture leads or architecting solutions that integrate
      seamlessly with existing systems. I've had the pleasure of working with
      both startups and large corporations, gaining invaluable experience in
      client relations, project scoping, and delivering cutting-edge web
      technologies.
    </p>
    <p class={pClasses}>
      When I'm not coding, you can find me constantly exploring new trends in
      web development, automation, and AI, always looking for ways to stay ahead
      in this dynamic field. With a commitment to quality and innovation, I'm
      passionate about using technology to solve real-world problems and help
      businesses grow.
    </p>
  </main>
</Layout>
