---
import { Gmail, Github, Linkedin } from "simple-icons-astro";
import { personalInformation } from "../data/resume.json";

const { email, linkedin, github } = personalInformation;

const anchorClass = "rounded-full p-4 w-14 bg-accent-200 hover:bg-white";
---

<div class="container mx-auto body-font">
  <div class="flex flex-col text-center w-full mb-10">
    <h1 class="text-accent-200 text-h1">Let's Chat!</h1>
  </div>
  <form
    class="lg:w-1/2 md:w-2/3 mx-auto"
    action="https://formspree.io/f/mdx.programs@gmail.com"
    method="post"
  >
    <div class="flex flex-wrap -m-2">
      <div class="p-2 w-1/2">
        <div class="relative">
          <label for="name" class="leading-7 text-sm text-accent-200"
            >Name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="w-full bg-white bg-opacity-50 rounded border border-gray-300 focus:border-accent-200 focus:bg-white focus:ring-2 focus:ring-accent-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
      </div>
      <div class="p-2 w-1/2">
        <div class="relative">
          <label for="email" class="leading-7 text-sm text-accent-200"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="w-full bg-white bg-opacity-50 rounded border border-gray-300 focus:border-accent-200 focus:bg-white focus:ring-2 focus:ring-accent-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
          />
        </div>
      </div>
      <div class="p-2 w-full">
        <div class="relative">
          <label for="message" class="leading-7 text-sm text-accent-200"
            >Message</label
          >
          <textarea
            id="message"
            name="message"
            class="w-full bg-white bg-opacity-50 rounded border border-gray-300 focus:border-accent-200 focus:bg-white focus:ring-2 focus:ring-accent-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
          ></textarea>
        </div>
      </div>
      <div class="py-8 w-full">
        <button
          class="flex mx-auto text-secondary-500 bg-accent-200 border border-transparent py-2 px-8 focus:outline-none hover:bg-transparent hover:border-accent-200 hover:text-accent-200 rounded text-lg"
        >
          Submit
        </button>
      </div>

      <div class="flex justify-center mx-auto mt-8 space-x-4">
        <a href={`mailto:${email}`} class={anchorClass}>
          <Gmail class="text-[#EA4335]" />
        </a>
        <a href={linkedin} class={anchorClass} target="_blank">
          <Linkedin class="text-[#0A66C2]" />
        </a>
        <a href={github} class={anchorClass} target="_blank">
          <Github class="text-[#333]" />
        </a>
      </div>
    </div>
  </form>
</div>
