---
import { Gmail, Github, Linkedin } from "simple-icons-astro";
import { personalInformation } from "../data/resume.json";

const { email, linkedin, github } = personalInformation;

const anchorClass = "rounded-full p-4 w-14 bg-accent-200 hover:bg-white";
---

<div class="flex justify-center space-x-4">
  <a href={`mailto:${email}`} class={anchorClass}>
    <Gmail class="text-[#EA4335]" />
  </a>
  <a href={linkedin} class={anchorClass} target="_blank">
    <Linkedin class="text-[#0A66C2]" />
  </a>
  <a href={github} class={anchorClass} target="_blank">
    <Github class="text-[#333]" />
  </a>
</div>
